---
layout: default
---

<article>
  <h1>
    {{ page.title }}
  </h1>
  <div class="center">
    <p class="meta">{{ page.date | date_to_string }}</p>
  </div>

<!--   {% if page.french %}
  <div class="suggest-translate">
    This post is in French. You can try to
    <a href="http://translate.google.com/translate?sl=fr&amp;tl=en&amp;u=http://sebastien.saunier.me{{ page.url }}">
      google translate it</a>.
  </div>
  {% endif %} -->

  <div class="post">
  {{ content }}
  </div>
  <ul class="tags post-tags cf">
    {% for tag in page.tags %}
    <li><a href="/search/?tags={{ tag }}">{{ tag | downcase }}</a></li>
    {% endfor %}
  </ul>
</article>

<section class="post-footer">
  <a href="/feed.xml" class="pull-right">
    <img src="/images/rss.jpg" alt="RSS" />
  </a>
</section>

<script defer src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<!-- tag, category search -->
<script defer src="/js/alexpearce.js"></script>

<div class="separator"></div>

<section class="comments">
  <div id="disqus_thread"></div>
  <script>
  /**
  * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
  */

  var disqus_config = function () {
  this.page.url = "http://inomad15.github.io"; // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = "inomad15"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');

  s.src = '//inomad15githubio.disqus.com/embed.js';

  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>
